FRAMEWORKX_DATABASE_URL=postgres://frameworkx:frameworkx@127.0.0.1:5432/frameworkx
FRAMEWORKX_STORAGE_ROOT=./storage
FRAMEWORKX_INSTALL_KEY=change_me_please
FRAMEWORKX_API_PORT=5100
FRAMEWORKX_WORKER_PORT=5200
FRAMEWORKX_INDEXER_PORT=5300
FRAMEWORKX_UI_PORT=5180
FRAMEWORKX_SOCIAL_PORT=4400
FRAMEWORKX_EDGE_PORT=5080
FRAMEWORKX_SOCIAL_SERVICE_ENABLED=false
FRAMEWORKX_SOCIAL_BASE_URL=http://127.0.0.1:4400
